@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --primary: 58, 107, 53;    
  --accent: 227, 180, 72;    
  --secondary: 203, 209, 143; 
  --background: 249,249,249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background: rgb(var(--background))
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}
